i{
    cursor: pointer;
}


.card-body{
    height: 300px;
}

.signborder{
    border: 1px solid #000000;
}

.devpng{
    
    width: 800px;
}

.boxalert{
    height: 50px;
    
}

.formdiv{
    height: 600px;
}